<a href="https://colab.research.google.com/github/hyunBBB/gabojago/blob/main/lesson_03_tuple%26dic_type%2C_type_change.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Tuple Function
    list보다 같은 데이터를 가졌을 때 공간을 적게 사용

In [4]:
tp1 = 1, 2, 3
tp2 = {4, 5, 6}
type(tp1), type(tp2), tp1, tp2

(tuple, set, (1, 2, 3), {4, 5, 6})

In [ ]:
a, b =

#### list와 마찬가지로 offset index 사용 가능

In [5]:
tp1[0], tp2[::-1]

TypeError: ignored

#### list와 tuple의 저장공간 비교

In [6]:
import sys

ls = [1, 2, 3]
tp = (1, 2, 3)
print

#### tuple 활용
    절대로 변경이 되어선 안되는 데이터를 작성하는 경우

In [9]:
#카드 포인트 적립
rate = (0, 0.003)
print(type(rate), rate)
card = 100_000 #100,000
point = (card, rate)
print(type(point), point)

point_combi = point[0] * print[1][1]
print(point_combi)

<class 'tuple'> (0, 0.003)
<class 'tuple'> (100000, (0, 0.003))

TypeError: ignored

### Dictionary(dict)
    순서가 없고 {키:값}으로 구성되어 있는 데이터 타입

In [11]:
dic = {
    "key":"value",
    1 : "첫번째",
    "second" : 2,
    3 : [3, 4, 5]
}
type(dic), dic

(dict, {1: '첫번째', 3: [3, 4, 5], 'key': 'value', 'second': 2})

In [13]:
# key와 value를 하나씩 직접 입력하여 작성하는 방법
dic2 = {}
dic2["DEEP:PHI"] = ""
dic2["deepnoid"] = ""
dic2

{'DEEP:PHI': '', 'deepnoid': ''}

#### dict 출력방법
    dict[key값]

In [14]:
dic[1], dic["second"]

('첫번째', 2)

In [15]:
dic[0] #순서가 없는 데이터 타입이므로 index를 사용할 수없음

KeyError: ignored

#### dict형 데이터 타입 key, value값 확인
    keys() : key값을 확인
    values() : value값을 확인
        각각 리스트 타입으로 출력
    items() : key, value의 쌍으로 출력
        쌍을 이루고 수정이 불가능하므로 튜플 타입으로 출력
        
    ※ 주의 : 출력이 각각 list, tuple 타입으로 나타나지만 본래 데이터는 dict 타입이므로 순서가 없음
            즉, offset index를 사용할 수 없다!

In [16]:
dic.keys(), dic.values(), dic.items()

(dict_keys(['key', 1, 'second', 3]),
 dict_values(['value', '첫번째', 2, [3, 4, 5]]),
 dict_items([('key', 'value'), (1, '첫번째'), ('second', 2), (3, [3, 4, 5])]))

In [17]:
for key in dic.keys():
  print(key)

key
1
second
3

In [18]:
for items in dic.items():
  print(items)

('key', 'value')
(1, '첫번째')
('second', 2)
(3, [3, 4, 5])

### length 구하기
    문자열, list, tuple, dict 타입의 경우 데이터의 길이(혹은 갯수)를 셀 수 있음
```python
len(구하고자 하는 데이터타입)
```

In [19]:
#string type
text = "hello python"
len(text) #공백을 포함한 길이

12

In [20]:
#list type
ls = [1, 2, 3, 4, 5]
len(ls)

5

In [ ]:
# blank

In [ ]:
# blank

In [ ]:
# blank

### Type change
    - 데이터 타입을 변환하는 방법
    - 형태의 종류
        int, float, bool, str, list, tuple, dict

In [21]:
type(dic.values())

dict_values

In [22]:
type(list(dic.values()))

list

In [23]:
dic_list = list(dic.values())
dic_list[0]

'value'

In [28]:
a=1 #int
print(type(a),a)
b=float(a)
print(type(b).b)
c=str(b)
print(type(c).c)

<class 'int'> 1

AttributeError: ignored

#### list -> dict로 만들기
    zip : 같은 index끼리 묶어주는 함수

In [ ]:
# blank

In [ ]:
# blank